.prenav{
    background-color: rgb(8, 3, 37);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}
.prenav > div{
     padding: 0 4vmax;
     display: flex;
     align-items: center;
}
.prenav > div > span{
    color: rgba(134, 125, 125, 0.788);
    font-size: 0.8 vmax;
    font-weight: 100;
}
.prenav > div > a{
    color: rgb(231, 203, 203);
    font-size: 0.9vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin : 1vmax;
    text-decoration: none;
}
 .prenav > div > a:hover{
     color: white;
 }
 .prenav > div svg {
     fill: rgb(221, 183, 183);
 }
 .prenav > div svg :hover{
     fill: white;
 }